<link rel='stylesheet' href='/css/index.css' type='text/css'>
<script src='/javascript/jquery-2.1.0.min.js' type='text/javascript'></script>
<script src='/javascript/underscore-min.js' type='text/javascript'></script>
<script src='/javascript/index.js' type='text/javascript'></script>

Welcome To Ping Pong!
<a id='nextWeek' href="">Next Week</A>
<a id='prevWeek' href="">Prev Week</A>

<%= erb(:schedule, :layout => false) %>

<script type="text/javascript">
 _.templateSettings = {
  evaluate : /\{\[([\s\S]+?)\]\}/g,
  interpolate : /\{\{([\s\S]+?)\}\}/g
};


  week = 0

  $('#nextWeek').on('click', function(e) {
    week += 1;
    e.preventDefault();
    getSchedule(week);
  });

  $('#prevWeek').on('click', function(e) {
    week -= 1;
    e.preventDefault();
    getSchedule(week);
  });
</script>

<script type="text/template" id='oponents'>
    <div class='oponent_wrap'>
      <div>
        Leslie Vs Christy
      </div>
      <div class='oponent'>
        <img src={{ 'http://www.gravatar.com/avatar/' + $.md5(p1)}}>
      </div>
      <div class='oponent'>
        <img src={{ 'http://www.gravatar.com/avatar/' + $.md5(p2)}}>
      </div>
    </div>
    <br>
</script>