<head>
    <title>Ping Pong PlanGrid</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
</head>






<link rel='stylesheet' href='/css/index.css' type='text/css'>
<script src='/javascript/jquery-2.1.0.min.js' type='text/javascript'></script>
<script src='/javascript/underscore-min.js' type='text/javascript'></script>
<script src='/javascript/index.js' type='text/javascript'></script>
<script src='/javascript/date.format.js' type='text/javascript'></script>


<div class='page'>
  <div class='container'>
    <div class='sections'>
      <div class='section header'>
        <h2>PlanGrid Ping Pong League</h2>
      </div>
      <div class='section schedule'>
        <%= erb(:matches, :layout => false) %>
      </div>
      <div class='section standings'>
        <%= erb(:standing, :layout => false) %>
      </div>
      <div class='section rules'>
        <%= erb(:rules, :layout => false) %>
      </div>
      <div class='section prizes'>
        <%= erb(:prizes, :layout => false) %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  week = 0
  $('#nextWeek').on('click', function(e) {
    week += 1;
    e.preventDefault();
    getSchedule(week);
  });

  $('#prevWeek').on('click', function(e) {
    week -= 1;
    e.preventDefault();
    getSchedule(week);
  });
</script>

<script type="text/template" id='oponents'>

      {{ if(won) { }}
        <div class='oponents_div match_played'>
      {{} else{ }}
        <div class='oponents_div'>
      {{ } }}
        <div class=''>
          <ul class='oponent-list'>
            <li>
              <img src={{= 'http://www.gravatar.com/avatar/' + $.md5(p1)}}>
              <span class='text-content'>
                <span>

                  {{ if(p1 == player_won) { }}
                  {{= won  }}
                  {{ } else { }}
                  {{= lost  }}
                  {{ } }}
                </span>
              </span>
            </li>
            <li>
              <img src={{= 'http://www.gravatar.com/avatar/' + $.md5(p2)}}>
              <span class='text-content'>
                <span>
                  {{ if(p2 == player_won) { }}
                  {{= won  }}
                  {{ } else { }}
                  {{= lost  }}
                  {{ } }}
                </span>
              </span>
            </li>
            {{ if (won) { }}
              <img class='checkmark' src='/images/ok_2.png'/>
            {{ } }}
          </ul>
        </div>
      </div>

</script>

<script type="text/template" id='dateWeek'>
{{= month}} {{= w_open}} - {{= w_close}}, {{= year}}
</script>