<form action="/newplayer" method="post">
  <input type="text" name="first_name" placeholder='first_name'>
  <input type="text" name="last_name" placeholder='last_name'>
  <input type="text" name="email" placeholder='email'>
  <input type="text" name="league" placeholder='league'>
  <input type="submit">
</form>