<h2>Prizes</h2>
<br>
<div class='prize'>
  <img  src="/images/philz.png">
  <ul>
    <li><b>Philz of your choosing</b></li>
    <li>Delivered daily for a week</li>
  </ul>
</div>
<div class='prize'>
  <img  src="/images/livestrong.png">
  <ul>
    <li><b>PlanGrid Champion Bracelet</b></li>
    <li>To be worn in the upcoming season.</li>
  </ul>
</div>
<div class='prize'>
  <img  src="/images/mystery.png">
  <ul>
    <li><b>Mystery Gift</b></li>
    <li>What will it be?</li>
  </ul>
</div>