<h2>Rules</h2>
<br>

<div class='rulesDiv'>
  <ul>
    <li>A match is played best 3 of 5 games</li>
    <li>First player to reach 11 points wins that game</li>
    <li>Game must be won by at least a two point margin</li>
    <li>Each player serves two points in a row and then switch server.</li>
    <li>If a score of 10-10 is reached in any game, then each server serves only one point and then the server is switched.</li>
    <li>After each game, the players switch side of the table.</li>
    <li>In the final game (ie 5th game), the players switch side again after either player reaches 5 points.</li>
    <li><a target='_blank' href="http://www.pongworld.com/more/rules.php">Official Rules</a></li>
  </ul>
</div>
