


<H3>Begginer Schedule</H3>

<div id='begSchedule'>
  <% @b_matches.each do |m| %>
    <div class='oponent_wrap'>
      <div>
        Leslie Vs Christy
      </div>
      <div class='oponent'>
        <img src=<%= grav(m['participants'][0]) %>>
      </div>
      <div class='oponent'>
        <img src=<%= grav(m['participants'][1]) %>>
      </div>
    </div>
    <br>
  <% end %>
</div>




