.oponent {
  text-align: center;
  display: inline;
}

.oponent img {
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.oponents_div {
  width: 45%;
  float: left;
  padding: 10px;
}

.oponents_wrapper {
  border: 1px solid #ccc;
}

.columnA {
    float: left;
    width: 50%;
}

.columnB {
    float: right;
    width: 50%;
}

.container {
    width:90%; /* Adjust to a total width of both .left and .right */
    margin: 0 auto;
    text-align: center;
}
